.card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.card__image{
    overflow: hidden;
}

.card__text {
    padding: 20px;
    flex: 1;
    text-align: left;
}