.grid{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-bottom: 50px;
}

.gird-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid__item-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight:550;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.grid__item-title:hover{
    transform: scale(1.2);
    color: var(--hover-color);
}

.grid__item-content{
    color: var(--text-color);
}