.effect-image {
    transition: transform 0.8s ease, filter 0.8s ease, ;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.effect-image--float {
    transition: transform 0.7s linear;
}
  
.effect-image--zoom:hover {
    transform: scale(1.2);
}

.effect-image--scalezoom:hover {
    transform: scale(1.2);
    transform-origin: center center;
}
  
.effect-image--bounce:hover {
    transform: translateY(-30px);
}

.effect-image--border {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 0;
    transition: transform 0.5s ease, border-color 0.5s ease, border-radius 3.2s ease;
}

.effect-image--border:hover {
    transform: scale(0.9);
    border-color: black;
    border-radius: 1000px;
}