.helpButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 10px;
  background-color: #fe699f;
  color: var(--white-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.helpButton:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}

.helpButton__popup-heading{
  padding: 20px 20px;
  background-color: #fe699f;
  border-radius: 10px;
}

.helpButton__popup__heading-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.helpButton__popup-close {
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
  color: var(--text-color);
}

.helpButton__popup-close:hover{
  color: var(--hover-color);
}

.helpButton__popup {
  position: fixed;
  bottom: 80px;
  right: 20px;
  border-radius: 10px;
  z-index: 1000;
  width: 400px;
  background-color: var(--white-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.helpButton__popup-label {
  display: block;
  color: var(--text-color);
}

.helpButton__popup-submit {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #fe699f;
}

.helpButton__popup-submit:hover {
  background-color: #e24c8d;
}

.helpButton__popup-content {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.helpButton__popup-form {
  width: 300px;
  padding: 20px 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
}

.helpButton__popup__form-field {
  display: flex;
  flex-direction: column;
}

.helpButton__popup__form-label {
  margin-bottom: 5px;
  color: var(--text-color);
}

.helpButton__popup__form-input,
.helpButton__popup__form-textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  margin-top: 5px;
}

.helpButton__popup__form-input:focus,
.helpButton__popup__form-textarea:focus {
  border-color: #fe699f;
}

.helpButton__popup__form-textarea {
  resize: none;
  min-height: 100px;
}

.helpButton__popup__form-submit {
  width: 100%;
  align-self: center;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fe699f;
  color: var(--white-color);
} 

.helpButton__popup__form-submit:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}
