/* Block: interactive-img */
.interactive-img__grid {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 70px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid__item {
    text-align: center;
    margin-top: 20px;
}
  
.grid__item-thumbnail {
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
  
.grid__item-thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
  
.grid__item-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.grid__item__viewer-image {
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(255, 255, 255, 0.5);
}

.grid__item__viewer-button {
    display:none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ee154b4d;
    color: var(--white-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 999;
}

.grid__item__viewer-button{
    display:block;
}

.grid__item__viewer-button:hover{
  background-color: var(--hover-color);
}

.grid__item__viewer-button:first-of-type {
  left: 600px;
}

.grid__item__viewer-button:last-of-type {
  right: 600px;
}
  