.nav{
    position: relative;
    width: 100%;
    z-index: 999;
    margin-left:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease; 
    background-color: var(--white-color);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav__logo{
    margin-left: 100px;
}

.nav__menu{
    display: flex;
    gap: 50px;
}

.nav__menu-link{
    padding: 10px 10px;
    text-decoration: none;
    color: var(--text-color);
}

.nav__menu-link:hover {
    color: var(--hover-color);
}

.nav__menu-button{
    margin-right: 100px;
    padding:10px 10px;
    text-align:center;
    border-radius:5px;
    border:none;
    cursor:pointer;
    color: var(--white-color);
    background-color: var(--constract-button);
}

.nav__menu-button:hover{
    background-color: var(--hover-color);
}