  .dropDown {
    position: relative;
    display: inline-block;
  }
  
  .dropDown__label {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .dropDown__drawer {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: max-content;
    display: flex;
    flex-direction: column;
    visibility: hidden;
  }
  
  .dropDown:hover .dropDown__drawer {
    visibility: visible;
  }
  
  .dropDown__item {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
  }
  
  .dropDown__item:hover {
    background-color: #f1f1f1;
  }
  