:root {
    --hover-color: #ee154b;
    --text-color: #333;
    --white-color: #fff;
    --hover-background: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.effectimage {
    transition: transform 0.3s ease;
}
  
.effectimage--zoom:hover {
    transform: scale(1.1);
}
  
.effectimage--bounce:hover {
    transform: translateY(-10px);
}
  