.header {
    top:0;
    display:flex;
    padding: 10px;
    align-items:center;
    justify-content: space-between;
    font-size:12px;
    background-color:var(--hover-color);
    color:#fff;
}

.header-phone {
    margin-left: 100px;
    font-size:15px;
    color: var(--white-color);
}

.header-language{
    margin-right: 100px;
    font-size:12px;
    border-radius: 5px;
    background-color: var(--white-color);
    color: var(--text-color);
}

.header-language:hover{
    border-radius: 5px 5px 0px 0px;
}
    
.main {
    background-color: var(--white-color);
    min-height: 100vh;
}

.footer {
    margin-top:32px
}
    
.footer__body {
    background-color:#485052
}
    
.body__container {
    padding:32px 0;
    margin:0 auto;
    max-width:1150px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    column-gap:10px;
    background-color:#485052;
    color:#fff;
    font-weight:300;
    text-decoration: none;
}
    
.body__container-item {
    display:inline-block;
    background-color:#485052;
}
    
.item-widget-title {
    margin:8px auto 24px;
    font-size:15px;
    font-weight:500;
}

.item-textwidge {
    display:flex;
    justify-content:space-between;
    gap:80px;
}
    
.item__textwidge-links >*, .item__textwidge-contact-link>* {
    margin:8px 0;
    line-height:1.2em;
}
    
.item__textwidge-links a {
    display:inline-flex;
    align-items:center;
    color:#fffffcc9;
    font-size:15px;
}
    
.item__textwidge-links a:hover {
    color: var(--white-color);
}

.footer__info{
    color:#fff;
    font-weight:300;
    font-size:14px;
    padding: 10px;
    display:flex;
    align-items:center;
    background-color: var(--hover-color);
}

.footer__info-copyright{
    max-width:1150px;
    width:120%;
    margin:0 auto
}