.layout__header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border: 1px solid lightgrey;
    background-color: var(--white-color);
    color: var(--text-color);
  }
  
.layout__header-logo{
    font-weight: bold;
    text-decoration: none;
    color: var(--hover-color);
}
  
.layout__header-menu {
    display: flex;
    gap: 50px;
}
  
.layout__header-link {
    padding: 10px 10px;
    text-decoration: none;
    color: var(--text-color);
}
  
.layout__header-link:hover {
    color: var(--hover-color);
}

.layout__header-button {
    padding: 10px 10px;
    background-color: var(--constract-color);
    color: var(--text-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.layout__header-button:hover{
    background-color: var(--hover-color);
} 
  
.layout__main {
    background-color: var(--white-color);
    min-height: 100vh;
}

.layout__footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--text-color);
    color: var(--white-color);
  }
  
.layout__footer-section {
    margin-right: 50px;
}

.layout__footer-title {
    margin-bottom: 10px;
    color: var(--constract-color);
}

.layout__footer-linkcontainer{
    display: flex;
    flex-direction: column;
}

.layout__footer-link {
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--white-color);
}

.layout__footer-link:hover{
    color: var(--hover-color);
}

