.page {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    line-height: 1.5em;
}

.page-pink {
    background-color: #fef4fd;
}

.page__content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.page__title {
    font-size:32px;
    font-weight:700;
    letter-spacing:.5px;
    font-weight: bold;
    color: var(--hover-color);
}

.page__description {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--text-color);
}

.page__grid{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.page__grid-about{
    max-width: 300px;
}

.page__btn{
    display: inline-block;
    padding: 20px 20px;
    background-color: #4ab6ad;
    color: var(--white-color);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size:16px;
    font-weight:300
}

.page__btn:hover{
    background-color: var(--hover-color);
}

.subgrid {
    position:absolute;
    left:50%;
    bottom:-11%;
    transform:translateX(-50%);
    width:481px;
    height:106px;
    background:#4ab6adb3;
    display:flex;
    justify-content:space-around;
    align-items:center;
    z-index:1;
    letter-spacing:-.5px
}

.subgrid-col {
    display:flex;
    flex-direction:column;
    align-items:center
}

.subgrid__col-text{
    color:#fff;
    text-align:center;
    white-space:nowrap;
    font-size:16px;
    margin-bottom:5px
}

.subgrid__col-title{
    color:#fff;
    text-align:center;
    white-space:nowrap;
    font-size:28px
}

.promo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow:hidden;
    color: var(--white-color);
}

.promo-block-1, .promo-block-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-block-1 {
    background-color: var(--background-one);
}

.promo-block-2 {
    background-color: var(--background-two);
}


.promo__grid-sub-title,.promo__grid-title,.promo__grid-content, .promo__grid-link, .promo__grid-detail-title, .promo__grid-detail-sub-title, .promo__grid-detail-content {
    margin:10px 10px 20px 20px;
    font-size:16px;
    font-weight:300
}

.promo__grid-sub-title{
    font-family:"Bodoni Moda",cursive;
    font-style:italic;
    font-size:20px;
}

.promo__grid-title, .promo__grid-detail-title {
    font-size:24px;
    font-weight:bold;
    line-height:1.2em
}

.promo__grid-link, .promo__grid-detail-link{
    display: inline-block;
    padding: 10px 10px;
    background-color: var(--white-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.promo__grid-link:hover, .promo__grid-detail-link:hover{
    background-color: var(--hover-color);
    color: var(--white-color);
    border-color: #e63946;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.promo__grid-detail-title {
    color: var(--text-color);
}

.promo__grid-detail-sub-title {
    font-size:24px;
    font-weight:bold;
    color: var(--hover-color);
}

.promo__grid-detail-sub-title::after {
    content: '';
    width: 80px;
    display: block;
    margin-top: 5px;
    margin-left: 2px;
    border-bottom: solid 4px #f05a21;
}

.promo__grid-detail-about {
    font-weight:bold;
}

.promo__grid-detail-content{
    margin-top: 40px;
    margin-bottom: 40px;
}

.promo__grid-detail-link{
    margin-left: 30px;
    background-color: var(--constract-button);
    color: var(--white-color);
}

.activity {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.activity-container {
    display: flex;
    width: 1200px;
    gap: 20px;
    align-items: center;
}

.activity-content {
    flex: 1 1 50%;
}

.activity-image {
    flex: 1 1 50%;
    position: relative;
    text-align: center;
}

.page__form { 
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.page__video-grid{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.page__media {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    line-height: 1.5em;
}