.page__about {
    padding: 20px 20px;
    text-align: center;
}

.page__about-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.page__about-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 50px;
    color: var(--hover-color);
}

.page__about-description {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--text-color);
}

.page__about-grid{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.page__about__grid-about{
    max-width: 300px;
}

.page__promo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow:hidden;
    color: var(--white-color);
}

.page__promo-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page__promo__block-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff0f1;
}

.page__promo__block-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #73cfe4;
}

.page__method {
    padding: 20px 20px;
    text-align: center;
    background-color: #fef4fd;
}

.page__method-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.page__method-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--hover-color);
    margin-bottom: 20px;
}

.page__method-description {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.page__method-gridcontent { 
    display: flex;
    gap: 20px;
    justify-content: center;
}

.page__activity {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    background-color: #fff;
}

.page__activity-container {
    display: flex;
    width: 1200px;
    gap: 20px;
    align-items: center;
}

.page__activity-content {
    flex: 1 1 50%;
}

.page__activity-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--hover-color);
    margin-bottom: 20px;
}

.page__activity-description {
    margin-bottom: 20px;
    color: var(--text-color);
}

.page__activity-button {
    padding: 10px 10px;
    background-color: #3dc0b0;
    color: var(--white-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.25s ease;
}

.page__activity-button:hover {
    background-color: var(--hover-color);
}

.page__activity-image {
    flex: 1 1 50%;
    position: relative;
    text-align: center;
}

.page__activity-img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.page__activity-tags {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    position: relative;
}

.page__activity-tag {
    background-color: #3dc0b0;
    color: #fff;
    padding: 10px 40px;
    text-align: center; 
}

.page__activity-tag-title {
    font-weight: bold;
}

.page__activity-tag-description {
    font-weight: bold;
}

.page__video{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.page__video-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--hover-color);
    margin-bottom: 50px;
}

.page__video-grid{
    display: flex;
    gap: 80px;
    max-width: 1200px;
}