/*CSS for dropdown module */
.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
}
  
.dropdown__label {
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.dropdown__label:hover {
    color: var(--hover-color);
}
  
.dropdown__drawer {
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    z-index: 999;
    background-color: var(--white-color);
}
  
.dropdown:hover .dropdown__drawer {
    visibility: visible;
}
  
.dropdown__item {
    padding: 10px;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
}
  
.dropdown__item:hover {
    background-color: var(--hover-background);
}
  
/*CSS for SlideShow*/
.slideshow {
    position: relative;
    overflow: hidden;
}

.slideshow__inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slideshow__slide {
    min-width: 100%;
    height: 600px;
    object-fit: cover;
}

.slideshow__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--text-color);
  color: var(--white-color);
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  z-index: 999;
}

.slideshow__button:hover{
  background-color: var(--hover-color);
}

.slideshow__button:first-of-type {
  left: 10px;
}

.slideshow__button:last-of-type {
  right: 10px;
}

/*CSS for EffectImg*/
.effect-image {
    transition: transform 0.3s ease, filter 0.3s ease;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.effect-image--zoom:hover {
    transform: scale(1.1);
}

.effect-image--scalezoom:hover {
    transform: scale(1.1);
    transform-origin: center center;
}
  
.effect-image--bounce:hover {
    transform: translateY(-10px);
}
  

/*CSS for GridContent*/
.content-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
  
.content-grid--row {
    flex-direction: row;
}
  
.content-grid--column {
    flex-direction: column;
}
  
.content-grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
  
.content-grid__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--hover-color);
  }
  
.content-grid__content {
    color: var(--text-color);
}
  
/*CSS for CardContent*/
.content-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-card__image{
    overflow: hidden;
}

.content-card__text {
    padding: 10px;
    flex: 1;
    text-align: left;
}

.content-card__title {
    font-size: 1.25rem;
    padding-bottom: 20px;
    color: var(--text-color);
}

.content-card__content {
    font-size: 1rem;
    padding-bottom: 20px;
}

.content-card__link{
    display: inline-block;
    padding: 10px 10px;
    background-color: var(--white-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-card__link:hover{
    background-color: var(--hover-color);
    color: var(--white-color);
    border-color: #e63946;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}



  
